fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
python-multipart
python-jose[cryptography]
passlib==1.7.4
bcrypt==4.0.1
python-dotenv
slowapi
motor
pydantic-settings
email-validator
pydantic[email]
redis